@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root {
    /* Primary */
    --Orange: hsl(25, 97%, 53%);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --container: hsl(215, 22%, 15%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    font-family: 'Overpass', sans-serif;
    background-color: var(--Very-Dark-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-hidden {
    display: none !important;
}

.main-container > .rating-state {
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 24px 24px;
    height: 405px;
    width: 370px;
    gap: 15px;
}
.main-container > .rating-state > .star-icon {
    height: 48px;
    width: 48px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark-Blue);
    border-radius: 50%;
    
}

.main-container > .rating-state > h1 {
    color: var(--White);
    font-size: 28px;
}
.main-container > .rating-state > .description {
    color: var(--Light-Grey);
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 25px;
}
.main-container > .rating-state > .rating {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 15px;
}

.main-container > .rating-state > .rating > label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    height: 49px;
    width: 49px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 400;
    background-color: var(--Dark-Blue);
    color: var(--Medium-Grey);
}
.main-container > .rating-state > .rating > label:hover {
    background-color: var(--Orange);
    color: var(--White);
    cursor: pointer;
    transition: all ease-in-out .3s;
}
.selected {
    background-color: var(--Orange) !important;
    color: var(--White) !important;
}
.main-container > .rating-state > .rating > label.default {
    background-color: var(--Medium-Grey);
    color: white;
}
.main-container > .rating-state > .rating > label.default:hover {
    background-color: var(--Orange);
    color: var(--White);
    cursor: pointer;
    transition: all ease-in-out .3s;
}
.main-container > .rating-state > .submit > button {
    color: var(--White);
    font-weight: 400;
    border: none;
    height: 45px;
    width: 100%;
    letter-spacing: 3px;
    border-radius: 22px;
    background-color: var(--Orange);
}
.main-container > .rating-state > button:hover {
    cursor: pointer;
    background-color: var(--White);
    color: var(--Orange);
    transition: all ease-in-out .3s;

}

.hid {
    display: none !important;
}

.thank-you-state {
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    gap: 25px;
    padding: 20px 20px;
    height: 405px;
    width: 370px;
}
.thank-you-state > .result{
    background-color: var(--Dark-Blue);
    color: var(--Orange);
    padding-top: 5px;
    display: flex;
    font-weight: 400;
    margin-top: -10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 35px;
    width: 190px;
}

.thank-you-state > h1 {
    color: var(--White);
    font-size: 28px;
    display: flex;
}
.thank-you-state > .thank-you-description {
    color: var(--Light-Grey);
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    margin-top: -10px;
}
@media screen and (min-width: 490px){
    .main-container > .rating-state {
        max-height: 400px;
        max-width: 407px;
        padding: 31px 31px 0px 31px;
        
    }
    .main-container > .rating-state > h1 {
        font-size: 26px;
        font-weight: 700;
    }
    .main-container > .rating-state > .description {
        margin-top: -5px;
        margin-bottom: 10px;
        font-size: 15.5px;
    }
    .main-container > .rating-state > button {
        margin-bottom: -50px !important;
    }
    br#appreciated {
        display: none;
    }

    .thank-you-state { 
        height: 400px;
        width: 407px;
        padding: 32px 32px 0px 32px;
    }
    .thank-you-state > .thank-you-description {
        font-size: 15px;
        margin-top: -15px;
    }
    .thank-you-state > .img  {
        margin-top: -30px;
        margin-bottom: 8px;
    }
}